Flask
Flask-Views
Flask-Script
Flask-MongoEngine
flask-login
git+https://github.com/jamescw/flask-mongorest.git
git+https://github.com/mrjoes/flask-admin.git
git+https://github.com/UNICEFLebanonInnovation/ActvityInfoPython.git
gunicorn
cartodb
pandas
cleancat
mimerender
raven[flask]
requests
flask-cors
celery[mongodb]